<!DOCTYPE html>
<html>

<head>
  <title>Preguntas frecuentes</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      
      background-color: #d31d1d;
    }
      .negrita {
      font-weight: bold;
    }
    .wrapper {
      max-width: 1200px;
      
    }
   
    .content-wrapper {
      background-image: url('/img/123.jpg');
      
      padding: 20px;
      border-radius: 8px;
      margin-bottom: 20px;
      text-align: justify;
      color: #000000;
    }

    h1 {
      text-align: center;
      color: #0ba6bb;
    }

    .logo {
      text-align: center;
      margin: 20px auto;
      font-size: 24px;
      font-weight: bold;
    }

    .logo span.sd {
      color: #000000;
    }

    .logo span.lg {
      color: #ff0000;
    }

    p {
      line-height: 1.5;
    }

    .login {
      font-style: italic;
      text-align: center;
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <div class="content-wrapper">
      <div class="logo">
        <span class="sd">SD</span>
        <span class="lg">LG</span>
      </div>

      <img src="img/logo.png" alt="Logo" style="display: block; margin: 0 auto; max-width: 330px;">

      <div class="negrita">Este programa le ayuda en su proceso de cambio a paneles fotovoltaicos. Para ello, se le desplegar치 un formulario donde podr치 ingresar sus datos para obtener informaci칩n importante como el numero de paneles requeridos a tales condiciones y el tipo de inversor a utilizar.</div>

      <div class="negrita">Para poder acceder a las funciones antes mencionadas, debe <i>iniciar sesi칩n</i> o registrarse y pasar a su propio perfil.</div>
    </div>
  </div>
</body>

</html>

