<!DOCTYPE html>
<html>

<head>
  <title>Preguntas frecuentes</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      
      background-color: #f4f4f4;
    }

    .wrapper {
      max-width: 1200px;
      margin: 0 auto;
    }

    .content-wrapper {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    h1 {
      text-align: center;
      color: #0ba6bb;
    }

    .logo {
      width: 50%;
      text-align: center;
      margin: 20px auto;
      font-size: 24px;
      font-weight: bold;
    }

    .logo span.sd {
      color: #000000;
    }

    .logo span.lg {
      color: #ff0000;
    }

    h3 {
      margin-bottom: 10px;
      color: #0ba6bb;
    }

    p {
      line-height: 1.5;
    }

    .button {
      display: inline-block;
      background-color: #0ba6bb;
      color: #ffffff;
      padding: 10px 20px;
      border-radius: 4px;
      text-decoration: none;
      margin-top: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .button:hover {
      background-color: #0ba6bb;
    }

    .spacer {
      margin-top: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #0ba6bbc;
      color: #ffffff;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <div class="content-wrapper">
      <div class="logo">
        <span class="sd">SD</span>
        <span class="lg">LG</span>
      </div>

      <h3>Para saber su radiación solar:</h3>
      <button class="button" onclick="toggleRadiationTable()">Ubicaciones frecuentes</button>
      <div id="radiation-table" style="display: none;">
        <table>
          <thead>
            <tr>
              <th>Ubicación</th>
              <th>Radiación Solar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Guajira</td>
              <td>5,5 W/m²</td>
            </tr>
            <tr>
              <td>Sucre</td>
              <td>4,5 W/m²</td>
            </tr>
            <tr>
              <td>Antioquia</td>
              <td>5,0 W/m²</td>
            </tr>
            <tr>
              <td>Cundinamarca</td>
              <td>4,8 W/m²</td>
            </tr>
            <tr>
              <td>Tolima</td>
              <td>4,2 W/m²</td>
            </tr>
            <tr>
              <td>Boyacá</td>
              <td>4,6 W/m²</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="spacer"></div>

      <h3>Potencia del panel:</h3>
      <button class="button" onclick="togglePanelsTable()">Paneles recomendados</button>
      <div id="panels-table" style="display: none;">
        <table>
          <thead>
            <tr>
              <th>Marca</th>
              <th>Potencia</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Eco Green Energy</td>
              <td>340 W</td>
              <td>$797.000</td>
            </tr>
            <tr>
              <td>Longi Solar</td>
              <td>545 W</td>
              <td>$1.199.000</td>
            </tr>
            <tr>
              <td>Netion</td>
              <td>150 W</td>
              <td>$390.000</td>
            </tr>
            <tr>
              <td>Solux</td>
              <td>390 W</td>
              <td>$850.000</td>
            </tr>
            <tr>
              <td>Trina Solar</td>
              <td>500 W</td>
              <td>$1.050.000</td>
            </tr>
            <tr>
              <td>Jinko Solar</td>
              <td>330 W</td>
              <td>$710.000</td>
            </tr>
            <tr>
              <td>Seraphim</td>
              <td>280 W</td>
              <td>$620.000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>

  <script>
    function toggleRadiationTable() {
      var radiationTable = document.getElementById("radiation-table");
      radiationTable.style.display = radiationTable.style.display === "none" ? "block" : "none";
      var panelsTable = document.getElementById("panels-table");
      panelsTable.style.display = "none";
    }

    function togglePanelsTable() {
      var panelsTable = document.getElementById("panels-table");
      panelsTable.style.display = panelsTable.style.display === "none" ? "block" : "none";
      var radiationTable = document.getElementById("radiation-table");
      radiationTable.style.display = "none";
    }
  </script>
</body>

</html>
